body {
    margin: 0;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.icon {
    height: 20px;
    width: auto;
}

nav {
    position: absolute;
    top: 0;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
}

.nav__title {
    width: auto;
    height: 30px;
    justify-self: center;
}

#nav__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: medium;
    justify-self: end;
    margin-right: 20px
}

#nav__buttons>* {
    margin-left: 20px;
    align-self: center;
    font-weight: bold;
}


#nav__subscribe_button {
    background-color: #0787ca;
    color: white;
    border: 0;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
}

#nav__menu {
    visibility: hidden;
    justify-self: start;
    margin-left: 20px
}

#menu__container {
    text-align: center;
    padding-top: 50px;
}

#menu__content_table {
    margin-left: 30px;
    text-align: left;
}

#menu__content_table td {
    font-size: 20px;
    line-height: 2.5;
    letter-spacing: 2px;
}

#menu__content_table td:hover {
    text-decoration: underline;
    color: rgb(54, 54, 173);
}

#menu__close_icon {
    position: absolute;
    left: 50px;
}

@media only screen and (max-width: 1024px) {
    #nav__buttons {
        visibility: hidden;
        display: none
    }

    #nav__menu {
        visibility: visible;
    }

}